.div-contain-nav{
  background-color: var(--main-yellow);
}

/* Styles for screens wider than 768px */
@media (min-width: 769px) {
  .div-contain-nav {
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .div-home-nav {
    display: flex;
    justify-content: space-around;
  }
  .dropdown-buttons {
    margin-left: 15px;
  }
}

/* Styles for screens up to 768px (mobile) */
@media (max-width: 768px) {
  .div-contain-nav {
    min-height: 55px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
  }

  .dropdown-buttons {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .dropdown-summary {
    cursor: pointer;
    padding: 5px;
    text-align: center;
  }

  .dropdown-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 460px) {
  .div-contain-nav {
    min-height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}