.div-contain-nav{
  background-color: rgb(255, 222, 0);
}

/* Styles for screens wider than 768px */
@media (min-width: 769px) {
  .div-contain-nav {
    width: 100%;
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .div-home-nav {
    display: flex;
    justify-content: space-around;
    width: auto; 
    margin: 10px;
    padding: 10px;
  }
  .dropdown-buttons {
    width: 100%;
    margin-left: 15px;
  }
}

/* Styles for screens up to 768px (mobile) */
@media (max-width: 768px) {
  .div-contain-nav {
    width: 100%;
    min-height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .dropdown-buttons {
    width: 100%;
    margin-bottom: 10px;
  }

  .dropdown-summary {
    cursor: pointer;
    padding: 5px 0;
    text-align: center;
  }

  .dropdown-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
}