*{
  margin: 0;
  font-family: CustomItalic;
  scroll-behavior: smooth;
}

:root{
  --main-yellow: rgb(255, 222, 0); 
  --main-hover: #1A1A1A;
  --main-bg: #f5f5f5;
  --main-disable: #c0bdbd;
  --button-font: #3B3B3B;
  --button-hover: rgba(0, 0, 0, 0.25); 
  --start-final: rgb(43, 43, 184);

  /*cards*/
  --fire-card: orange; 
  --water-card: rgba(4,255,240,0.7); 
  --poison-card: rgba(5,255,4,0.7);
  --electric-card: yellow; 
  --grass-card: rgb(8, 194, 8);
  --dark-card: #383636;
  --rock-card: rgb(145, 134, 134);
  --flying-card: rgb(250, 248, 248); 
  --psychic-card: rgb(230, 175, 184);
  --ice-card: rgb(59, 59, 207);
  --fighting-card: rgba(243, 45, 45, 0.815);
  --fairy-card: #FFB6C1; 
  --ground-card: #DEB887;
  --dragon-card: #008B8B;
  --bug-card: #B8860B;
  --ghost-card: #DDA0DD;
  --steel-card: #C0C0C0;
  --normal-card: #F5DEB3; 
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 12.5px;               
}

body::-webkit-scrollbar-track {
  background: var(--main-yellow);        
}


body::-webkit-scrollbar-thumb {
  background-color: var(--main-hover); 
  border-radius: 20px;       
  border: 3px solid var(--main-yellow);  
}

body::-webkit-scrollbar-thumb:hover{
  background-color: #fff; 
}


@font-face {
  font-family: CustomItalic;
  src: url('./Fonts/Karla-VariableFont_wght.ttf');
}
