*{
  margin: 0;
  font-family: CustomItalic;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: CustomItalic;
  src: url('./Fonts/Karla-VariableFont_wght.ttf');
}