.card-content{
  border: solid 8px var(--main-hover);
  border-radius: 10px;
  margin-top: 25px;
  width: 400px;
  min-height: 300px;
  margin: 15px;
  background-color: var(--main-bg);

  @media (max-width: 768px){ 
    min-width: 300px;
  }
}

.card-content:hover{
  transform: translateY(-20px);
  transition: all ease-out .3s;
}

/*name*/
.card-name-showing{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--main-hover);
}

.card-name-showing-h2{
  background-color: var(--main-bg);
  border-radius: 10px;
  min-width: 150px;
  max-width: 350px;
  text-align: center;
  margin: 12px;
  font-family: PokeFont;
  font-weight: 500;
}


/*image*/
.card-image-showing{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-image-showing-img{
  object-fit: contain;
  height: 350px;
  width: 350px;
}

/*types*/
.card-types-showing{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 400px;
  margin: 5px;

  @media (max-width: 768px){ 
    width: auto;
    max-width: 400px;
  }
}

.card-types-showing-h4{
  font-size: 18px;
  background-color: var(--main-hover);
  color: #fff;
  padding: 8px;
  border-radius: 10px;
}

/*link*/
.link-to-detail-page{
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.link-to-detail-page-tag{
  background-color: var(--main-bg);
  color: var(--main-hover);
  font-size: 12.5px;
  padding: 6px;
  border-radius: 4px;
}

.link-to-detail-page-tag:hover{
  transform: scale(1.08);
  transition: all ease-out .3s;
}


/*types bg*/

/*fire combo*/
.fire-card{ 
  background-color: var(--fire-card);
}

.fire-dark-card{ 
  background: linear-gradient(45deg, var(--fire-card) 45%, var(--dark-card) 55%);
}

.fire-rock-card{ 
  background: linear-gradient(45deg, var(--fire-card) 45%, var(--rock-card) 55%);
}

.fire-flying-card{ 
  background: linear-gradient(45deg, var(--fire-card) 45%, var(--flying-card) 55%);
}


/*water combo*/
.water-card{
 background-color: var(--water-card);
}

.water-electric-card{
  background: linear-gradient(45deg, var(--water-card) 45%, var(--electric-card) 55%);
}

.water-poison-card{
  background: linear-gradient(45deg, var(--water-card) 45%, var(--poison-card) 55%);
}

.water-ice-card{
  background: linear-gradient(45deg, var(--water-card) 45%, var(--ice-card) 55%);
}

.water-flying-card{
  background: linear-gradient(45deg, var(--water-card) 45%, var(--flying-card) 55%);
}

.water-psychic-card{
  background: linear-gradient(45deg, var(--water-card) 45%, var(--psychic-card) 55%);
}

.water-fighting-card{
  background: linear-gradient(45deg, var(--water-card) 45%, var(--fighting-card) 55%);
}

.water-fairy-card{
  background: linear-gradient(45deg, var(--water-card) 45%, var(--fairy-card) 55%);
}

.water-ground-card{
  background: linear-gradient(45deg, var(--water-card) 45%, var(--ground-card) 55%);
}

.water-dragon-card{
  background: linear-gradient(45deg, var(--water-card) 45%, var(--dragon-card) 55%);
}

.water-rock-card{
  background: linear-gradient(45deg, var(--water-card) 45%, var(--rock-card) 55%);
}

/*poison combo*/

.poison-card{ 
  background-color: var(--poison-card);
}

.poison-bug-card{
  background: linear-gradient(45deg, var(--poison-card) 45%, var(--bug-card) 55%);
}

.poison-ground-card{
  background: linear-gradient(45deg, var(--poison-card) 45%, var(--ground-card) 55%);
}

.poison-ghost-card{
  background: linear-gradient(45deg, var(--poison-card) 45%, var(--ghost-card) 55%);
}

.poison-flying-card{
  background: linear-gradient(45deg, var(--poison-card) 45%, var(--flying-card) 55%);
}

.poison-grass-card{ 
  background: linear-gradient(45deg, var(--poison-card) 45%, var(--grass-card) 55%);
}

/*electric combo*/

.electric-card{ 
  background-color: var(--electric-card);
}

.electric-steel-card{ 
  background: linear-gradient(45deg, var(--electric-card) 45%, var(--steel-card) 55%);
}

.electric-flying-card{ 
  background: linear-gradient(45deg, var(--electric-card) 45%, var(--flying-card) 55%);
}


/*grass combo*/
.grass-card{
  background-color: var(--grass-card);
}

.grass-flying-card{ 
  background: linear-gradient(45deg, var(--grass-card) 45%, var(--flying-card) 55%);
}

.grass-bug-card{ 
  background: linear-gradient(45deg, var(--grass-card) 45%, var(--bug-card) 55%);
}

.grass-psychic-card{ 
  background: linear-gradient(45deg, var(--grass-card) 45%, var(--psychic-card) 55%);
}


/*normal combo*/

.normal-card{ 
  background-color: var(--normal-card);
}

.normal-flying-card{
  background: linear-gradient(45deg, var(--normal-card) 45%, var(--flying-card) 55%);
}

.normal-psychic-card{
  background: linear-gradient(45deg, var(--normal-card) 45%, var(--psychic-card) 55%);
}

.normal-fairy-card{
  background: linear-gradient(45deg, var(--normal-card) 45%, var(--fairy-card) 55%);
}


/*fighting combo*/

.fighting-card{
  background-color: var(--fighting-card);
}

/*flying combo*/

.flying-card{
  background-color: var(--flying-card);
}

.flying-fairy-card{ 
  background: linear-gradient(45deg, var(--flying-card) 45%, var(--fairy-card) 55%);
}

.flying-bug-card{ 
  background: linear-gradient(45deg, var(--flying-card) 45%, var(--bug-card) 55%);
}

.flying-rock-card{ 
  background: linear-gradient(45deg, var(--flying-card) 45%, var(--rock-card) 55%);
}

.flying-dragon-card{ 
  background: linear-gradient(45deg, var(--flying-card) 45%, var(--dragon-card) 55%);
}

.flying-psychic-card{ 
  background: linear-gradient(45deg, var(--flying-card) 45%, var(--psychic-card) 55%);
}

.flying-dark-card{ 
  background: linear-gradient(45deg, var(--flying-card) 45%, var(--dark-card) 55%);
}

.flying-ice-card{ 
  background: linear-gradient(45deg, var(--flying-card) 45%, var(--ice-card) 55%);
}

.flying-ground-card{ 
  background: linear-gradient(45deg, var(--flying-card) 45%, var(--ground-card) 55%);
}

.flying-steel-card{ 
  background: linear-gradient(45deg, var(--flying-card) 45%, var(--steel-card) 55%);
}

/*ground combo*/

.ground-card{
  background-color: var(--ground-card);
}

.ground-ice-card{ 
  background: linear-gradient(45deg, var(--ground-card) 45%, var(--ice-card) 55%);
}

/*rock combo*/

.rock-card{
  background-color: var(--rock-card);
}

.rock-ground-card{
  background: linear-gradient(45deg, var(--rock-card) 45%, var(--ground-card) 55%);
}

.rock-dark-card{
  background: linear-gradient(45deg, var(--rock-card) 45%, var(--dark-card) 55%);
}

/*bug combo*/

.bug-card{
  background-color: var(--bug-card);
}

.bug-steel-card{
  background: linear-gradient(45deg, var(--bug-card) 45%, var(--steel-card) 55%);
}

.bug-fighting-card{
  background: linear-gradient(45deg, var(--bug-card) 45%, var(--fighting-card) 55%);
}

.bug-rock-card{
  background: linear-gradient(45deg, var(--bug-card) 45%, var(--rock-card) 55%);
}

/*ghost*/

.ghost-card{
  background-color: var(--ghost-card);
}

/*psychic*/

.psychic-card{
  background-color: var(--psychic-card);
}

.psychic-ice-card{
  background: linear-gradient(45deg, var(--psychic-card) 45%, var(--ice-card) 55%);
}

.psychic-fairy-card{
  background: linear-gradient(45deg, var(--psychic-card) 45%, var(--fairy-card) 55%);
}

/*ice*/

.ice-card{
  background-color: var(--ice-card);
}

.ice-dark-card{
  background: linear-gradient(45deg, var(--ice-card) 45%, var(--dark-card) 55%);
}

/*dragon*/

.dragon-card{
  background-color: var(--dragon-card);
}

/*dark*/

.dark-card{
  background-color: var(--dark-card);
}

/*fairy*/

.fairy-card{
  background-color: var(--fairy-card);
}


@font-face {
  font-family: PokeFont;
  src: url('../../Fonts/Pokemon\ Solid.ttf');
}