.sort-container{
  position: relative;
}

.sort-by-name-attack{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.div-sort-opened{
  min-height: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: calc(50% - 250px);
  border: solid 2px var(--main-hover);
  border-radius: 10px;
  background-color: var(--main-bg);
  background-position: relative;

  @media (max-width: 768px){
    display: flex;
    justify-content: start;
    position: absolute;
    right: calc(50% - 150px);
  }
}

.div-all-sort{
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 768px){
    width: 300px;
  }
}

.sort-button{ 
  background: none;
  border: 0.125em solid var(--main-hover);
  border-radius: 30px;
  width: auto;
  margin: 8px;
  min-height: 18px;
  font-size: 15px;
  cursor: pointer;
  color: initial;
  position: relative;
  z-index: 2;
}

.sort-button:hover{
  transform: scale(1.05);
}

.sort-button::before{
  content: "";
  position: absolute;
  background: var(--main-yellow); 
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: loading 5s ease-in-out infinite;
  z-index: -1;
}

@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}


.div-sort-closed{
  display: none;
}
