.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto; 
}

.error-message {
  color: red;
  font-size: 14px;
  position: absolute;
}

label select{
  width: 450px;
}

label input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

.div-container-create-title{
  display: flex;
  justify-content: center;
  margin: 10px;
  text-align: center;
  font-size: 25px;
}

div label{
  font-size: 18px;
}

.select-types{ 
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-types option{ 
  text-align: center;
  padding: 5px;
}


.div-selected-types{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 300px; 
  padding: 5px;
}

.create-button{
  display: flex;
  justify-content: center;
  margin: 18px;
}

.error-message-create{ 
  display: block;
  margin: 10px auto;
  text-align: center;
  background-color: rgb(189, 36, 36);
  color: white;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
}









/*after created*/
.success-message {
  display: block;
  margin: 10px auto;
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
}

.div-loader{ 
  display: flex;
  justify-content: center;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #4caf50;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}