.div-contain-cards{
  width: 100%;
  min-height: 100vh;
}

.div-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  margin: 15px;

  @media (max-width: 1160px){ 
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
  }

  @media (max-width: 950px){ 
    display: flex;
    justify-content: center;
  }
}


.pagination-div-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  @media (max-width: 768px){ 
    gap: 15px;
  }
}
