*{
  margin: 0;
  padding: 0;
}

.div-container{
  display: flex;
  justify-content: center;
}

.background-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url('../../Images/pikachuBg.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  
  @media (max-width: 1060px) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
 
}

.div-button{
  z-index: 99;
  width: 50%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.button-link{
  border: none;
  outline: none;
  background: none;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background-color: #00000049;
}

.button-link:hover{
  border: 2px solid #FFFF00;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.link-tag-button{
  font-family: PokeFont;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
}


.link-tag-button:hover{
  color: #FFFF00;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: underline;
}


@media (max-width: 768px) {


  .link-tag-button {
    font-size: 22px;
  }
}

@font-face {
  font-family: PokeFont;
  src: url('../../Fonts/Pokemon\ Solid.ttf');
}